.top-menu{
    background-color: #252122;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 100px;
    height: fit-content;
    gap: 40px;
}

.top-menu:nth-child(1){
    color: white;
}

.top-menu:nth-child(2){
    color: white;
}

.login-href-class{
    margin-left: auto;
    margin-right: 30px; 
}

#login-href {
    color: white;
}